# https://github.com/github/gitignore/blob/main/C%2B%2B.gitignore
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.so.*
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
build/
Build/
build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
*.tmp
*.log
*.bak
*.swp
vcpkg_installed/
*.dwo
Testing/
.cache/

# GlassBell_FileManager
__output_windows/
__output_linux/

