[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third_party/boost"]
	path = third_party/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "third_party/libpsl"]
	path = third_party/libpsl
	url = https://github.com/rockdaboot/libpsl.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/nghttp2"]
	path = third_party/nghttp2
	url = https://github.com/nghttp2/nghttp2.git
[submodule "third_party/nghttp3"]
	path = third_party/nghttp3
	url = https://github.com/ngtcp2/nghttp3.git
[submodule "third_party/ngtcp2"]
	path = third_party/ngtcp2
	url = https://github.com/ngtcp2/ngtcp2.git
[submodule "third_party/libssh2"]
	path = third_party/libssh2
	url = https://github.com/libssh2/libssh2.git
[submodule "third_party/brotli"]
	path = third_party/brotli
	url = https://github.com/google/brotli.git
[submodule "third_party/c-ares"]
	path = third_party/c-ares
	url = https://github.com/c-ares/c-ares.git
